{% extends '../base.html' %}

{% block title %}
ENTER OTP
{% endblock title %}

{% block css %}
<style>
    #wrapper {
        font-family: Lato;
        font-size: 1.5rem;
        text-align: center;
        box-sizing: border-box;
        color: #333;
    }

    #wrapper #dialog {
        border: solid 1px #ccc;
        margin: 10px auto;
        padding: 20px 30px;
        display: inline-block;
        box-shadow: 0 0 4px #ccc;
        background-color: #FAF8F8;
        overflow: hidden;
        position: relative;
        max-width: 450px;
    }

    #wrapper #dialog h3 {
        margin: 0 0 10px;
        padding: 0;
        line-height: 1.25;
    }

    #wrapper #dialog span {
        font-size: 90%;
    }

    #wrapper #dialog #form {
        max-width: 240px;
        margin: 25px auto 0;
    }

    #wrapper #dialog #form input {
        margin: 0 5px;
        text-align: center;
        line-height: 80px;
        font-size: 50px;
        border: solid 1px #ccc;
        box-shadow: 0 0 5px #ccc inset;
        outline: none;
        width: 20%;
        transition: all 0.2s ease-in-out;
        border-radius: 3px;
    }

    #wrapper #dialog #form input:focus {
        border-color: purple;
        box-shadow: 0 0 5px purple inset;
    }

    #wrapper #dialog #form input::-moz-selection {
        background: transparent;
    }

    #wrapper #dialog #form input::selection {
        background: transparent;
    }

    #wrapper #dialog #form button {
        margin: 30px 0 50px;
        width: 100%;
        padding: 6px;
        background-color: #B85FC6;
        border: none;
        text-transform: uppercase;
    }


    #wrapper #dialog div {
        position: relative;
        z-index: 1;
    }

    #wrapper #dialog img {
        position: absolute;
        bottom: -70px;
        right: -63px;
    }
</style>
{% endblock css %}


{% block content %}

<div class="container mt-3 mb-3">
    <div id="wrapper">
        <div id="dialog">
            <h3>Please enter the 4-digit verification code we sent via email:</h3>
            <span>(we want to make sure it's you before we contact our movers)</span>
            <div id="form">
                <input id="in1" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                <input id="in2" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" /><input id="in3"
                    type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" /><input id="in4" type="text"
                    maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />

                <form class="form-inline" action="{% url 'user:verify_otp' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="id_otp" value="OPT" name="entered_otp">
                    <button type="submit" class="btn btn-primary btn-embossed">Verify</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script>
    $(document).ready(function () {
        $('#in1, #in2, #in3, #in4').keyup(function () {
            var in1 = $("#in1").val()
            var in2 = $("#in2").val()
            var in3 = $("#in3").val()
            var in4 = $("#in4").val()
            const otp = in1 + in2 + in3 + in4
            $('#id_otp').val(otp)
        });

        $(function () {
            'use strict';

            var body = $('body');

            function goToNextInput(e) {
                var key = e.which,
                    t = $(e.target),
                    sib = t.next('input');

                if (key != 9 && (key < 48 || key > 57)) {
                    e.preventDefault();
                    return false;
                }

                if (key === 9) {
                    return true;
                }

                if (!sib || !sib.length) {
                    sib = body.find('input').eq(0);
                }
                sib.select().focus();
            }

            function onKeyDown(e) {
                var key = e.which;

                if (key === 9 || (key >= 48 && key <= 57)) {
                    return true;
                }

                e.preventDefault();
                return false;
            }

            function onFocus(e) {
                $(e.target).select();
            }

            body.on('keyup', 'input', goToNextInput);
            body.on('keydown', 'input', onKeyDown);
            body.on('click', 'input', onFocus);

        });
    });
</script>
{% endblock js %}