{% extends '../base.html' %}

{% block title %}
Verify Ypor Email
{% endblock title %}

{% block css %}
<style>
    .box {
        margin-top: 25vh;
        height: 58vh;
    }

    .card-4 {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
</style>
{% endblock css %}

{% block content %}
<div class="container">
    <div class="box text-center">
        <div class="card-4 p-5">
            <h1>Please Check Your email</h1>
            <h3>We send you email with verification link</h3>
            <h4>click on the verification link</h4>
        </div>
    </div>
</div>
{% endblock content %}