{% extends '../base.html' %}
{% load static %}
<!-- title block -->
{% block title %}Create Post{% endblock title %}
<!-- title block end-->

<!-- css block -->
{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://foliotek.github.io/Croppie/croppie.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .word {
        margin-bottom: 10px;
        float: right;
    }

    .word i {
        color: red;
        font-weight: bolder;
    }

    #id_author {
        text-transform: capitalize;
        margin: 10px;
        width: 150px;
        padding: 5px;
        border: 2px solid black;
    }

    #id_author option {
        text-transform: capitalize;
    }

    .box {
        border-radius: 15px;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
        padding: 15px;
    }

    .img-thumbnail {
        display: inline-block;
        width: 645px;
        height: 150px;
        padding: 4px;
        line-height: 1.42857143;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    /* ############################ */

    label.cabinet {
        display: block;
        cursor: pointer;
    }

    label.cabinet input.file {
        position: relative;
        height: 100%;
        width: 100%;
        opacity: 0;
        -moz-opacity: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        margin-top: -30px;
    }

    #upload-demo {
        width: 250px;
        height: 250px;
        padding-bottom: 25px;
    }

    figure figcaption {
        position: absolute;
        bottom: 0;
        color: #fff;
        width: 100%;
        padding-left: 9px;
        padding-bottom: 5px;
        text-shadow: 0 0 10px #000;
    }
</style>

{% endblock css %}
<!-- css block end-->

<!-- content block -->
{% block content %}
<div class="container mt-5 ">
    <div class="row">

        <div class="box" >

            <h1>{% if post %}Update Post{% else %}Create Post{% endif %}</h1>

            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- Update -->
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="cabinet center-block">
                                    <figure>
                                        <img src="" class="gambar img-responsive img-thumbnail" name="image" id="item-img-output" />
                                        <figcaption><i class="fa fa-camera"></i></figcaption>
                                    </figure>
                                    <input type="file" class="item-img file center-block" name="image" value="">
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="cropImagePop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        <?=multiLanguage( "Edit Foto" , "Edit Photo" )?>
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div id="upload-demo" class="center-block"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" id="cropImageBtn" class="btn btn-primary">Crop</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Update End -->

                <div class="form-group">
                    <label for="id_title">Title <span class="require">*</span></label>
                    <input type="text" maxlength="50" required id="id_title" class="form-control" name="title"
                        value="{{post.title}}">
                    <small id="titleCount" class="word">Remaining: <i>50</i> words</small>
                </div>

                <div class="form-group mt-3">
                    <label for="id_text">Description</label>
                    <textarea maxlength="500" required rows="5" id="id_text" class="form-control"
                        name="text">{{post.text}}</textarea>
                    <small id="descCount" class="word">Remaining: <i>500</i> words</small>
                </div>

                <div class="row mt-2">
                    <div class="col-6">
                        <input id="user" type="text" hidden value="{{user.username}}">
                        <label for="id_author">Author</label>
                        {{form.author}}
                    </div>
                </div>

                <div class="form-group mt-3">
                    <input style="float: right;" type="submit" value="{% if post %}Update{% else %}Create{% endif %}"
                        class="btn btn-primary">
                </div>

            </form>
        </div>

    </div>
</div>
{% endblock content %}
<!-- content block end -->

<!-- js block -->
{% block base_js %}
<script src="https://foliotek.github.io/Croppie/croppie.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        // Start upload preview image
        // alert('k')
        $(".gambar").attr(
            "src",
            "https://user.gadjian.com/static/images/personnel_boy.png"
        );
        var $uploadCrop, tempFilename, rawImg, imageId;
        function readFile(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $(".upload-demo").addClass("ready");
                    $("#cropImagePop").modal("show");
                    rawImg = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                swal("Sorry - you're browser doesn't support the FileReader API");
            }
        }

        $uploadCrop = $("#upload-demo").croppie({
            viewport: {
                width: 150,
                height: 200
            },
            enforceBoundary: false,
            enableExif: true
        });
        $("#cropImagePop").on("shown.bs.modal", function () {
            // alert('Shown pop');
            $uploadCrop
                .croppie("bind", {
                    url: rawImg
                })
                .then(function () {
                    console.log("jQuery bind complete");
                });
        });

        $(".item-img").on("change", function () {
            imageId = $(this).data("id");
            tempFilename = $(this).val();
            $("#cancelCropBtn").data("id", imageId);
            readFile(this);
        });
        $("#cropImageBtn").on("click", function (ev) {
            $uploadCrop
                .croppie("result", {
                    type: "base64",
                    format: "jpeg",
                    size: { width: 150, height: 200 }
                })
                .then(function (resp) {
                    $("#item-img-output").attr("src", resp);
                    $("#cropImagePop").modal("hide");
                });
        });
        // End upload preview image
        // #################################################################
        // Auto select Author
        var x = $('#id_author option')
        var id = $('#user').val()
        for (i = 0; i < x.length; i++) {
            let num = i + 1
            if (x[i].text == id) {
                var c = $("#id_author").children("option:nth-child(" + num + ")").attr('selected', 'selected')
            }
        }
    });
</script>
{% endblock base_js %}
<!-- js block end-->